body {
    /*
    Used http://weavesilk.com/ for it.
    */
    background-image: url("background.png");
    background-color: #000000;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}

a {
    color: aquamarine;
}

button {
    background-color: #ffffff;
    border: #000000;
    color: #000000;
    padding: 6px 15px;
    border-radius: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

div {
    text-align: center;
    padding: 3px;
    color: white;
    line-height: 8px;
}
#orderName {
    vertical-align: middle;
}
#orderNo {
    float: left;
}
