body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}

button {
    background-color: #310217;
    border: white;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

p {
    line-height: 6px;
}

div {
    text-align: center;
    padding: 3px;
}
#orderName {
    vertical-align: middle;
}
#orderNo {
    float: left;
}
